In [ ]:
a = [12,34,553,76,"Ashu","Yashika","Meenal","Harsh",1,354,67,111,13,54,983]
print(a[1])
print(a[6])
print(a[-9])
print(a[-5])
print(a[2])

34
Meenal
Meenal
67
553

In [ ]:
print(type(a),a)

<class 'list'> [12, 34, 553, 76, 'Ashu', 'Yashika', 'Meenal', 'Harsh', 1, 354, 67, 111, 13, 54, 983]

In [ ]:
print(a[1:3:2])
print(a[10:1:-3])
print(a[-5:10:1])
print(a[-4:2:3])
print(a[::2])

[34]
[67, 'Harsh', 'Ashu']
[]
[]
[12, 553, 'Ashu', 'Meenal', 1, 67, 13, 983]